pkgbase = bsp-layout-git
	pkgdesc = Dynamic layout management for bspwm with tall, wide, even, tiled, monocle (Git master)
	pkgver = 0.0.4
	pkgrel = 1
	url = https://github.com/phenax/bsp-layout
	install = .install
	arch = any
	license = MIT
	makedepends = bash
	makedepends = git
	makedepends = curl
	depends = bash
	depends = bc
	provides = bsp-layout
	conflicts = bsp-layout
	replaces = bsp-layout

pkgname = bsp-layout-git

